.container {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    border: 2px solid var(--border);
    justify-content: space-between;
}

.leftside,
.rightside {
    display: flex;
    align-items: center;
}

.subcontainer {
    border-top: 0;
}

.element {
    color: var(--font-color);

    padding: 10px;
    user-select: none;
    font-weight: bold;
}

.container *:nth-child(even) {
    background-color: var(--bg-color-alt);
}

.link {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.element.active {
    background-color: var(--bg-highlight);
}

.themeswitch {
    cursor: pointer;
    user-select: none;
}
