.container {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    border: 2px solid var(--border);
    justify-content: flex-start;
}

main .container {
    border-top: 0;
}

.element {
    color: var(--font-color);
    background-color: var(--bg-color-alt);
    padding: 10px;
    user-select: none;
    font-weight: bold;
}

.link {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.element.active {
    background-color: var(--bg-highlight);
}
