.plotlist {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    max-height: 75vh;
    overflow-y: scroll;
}

.plot,
.plot>* {
    max-width: 100%;
    /* This is to remove annoying 1mm vertical scroll when they actually fit */
    max-height: 98%;
}
