.ribbon {
    display: flex;
    height: 100px;
    border: 2px solid var(--border);
    border-top: 0;
}

.ribbon>* {
    padding: 5px;
    border: 0;
}

.ribbon>*:nth-child(even) {
    background-color: var(--bg-color-alt);
}

.download {
    color: var(--font-color);
}
