.success {
    color: var(--success);
}

.failure {
    color: var(--error);
}

.invisible {
    visibility: hidden;
}

.success, .failure, .invisible {
    width: var(--indicator-size);
    height: var(--indicator-size);
}
