.container {
    max-width: 100%;
    max-height: 75vh;
    overflow: scroll;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border: 1px solid var(--border);
}

.table thead {
    position: sticky;
    top: 0;
    background: var(--bg-color);
}

.table td {
    text-align: center;
}

.table tr:last-child td {
    border-bottom: 0;
}

.table th, .table td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.table th:last-child, .table td:last-child {
    border-right: 0;
}

.columnRedcapName {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 0.9em;
    color: var(--font-color-muted)
}

.columnHeader {
    display: grid;
    grid-template-areas: 'names controller';
    align-items: center;
    grid-template-columns: auto 2ch;
}

.columnNames {
    grid-area: names;
}

.columnController {
    grid-area: controller;
    justify-self: end;
}
