.timestamp {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1em;
    color: var(--font-color-muted)
}

.underlast {
    width: 10ch;
    height: 30px;
}

.success {
    color: var(--success);
}

.failure {
    color: var(--error);
}

.invisible {
    visibility: hidden;
}

.success,
.failure,
.invisible {
    width: var(--indicator-size);
    height: var(--indicator-size);
}
