/* Theme switch */
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
	color: #fff;
	background: #000;
}

.bootstrap-switch, .bootstrap-switch.bootstrap-switch-focused {
	border: 1px solid #424242;
	box-shadow: none;
}

.bootstrap-switch .bootstrap-switch-label {
	background: #01238a;
}

/* Nav bars */
.nav-tabs {
	border-top: 1px solid #282828;
}

/* Input */
.form-control {
	background-color: #0f0f0f;
	border-color: #424242;
	color: white;
}

/* Tabs */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #01238a;
}

/* Checkbox */
.checkbox label {
	color: white;
}

/* Default and hover buttons */
.btn, .btn:hover, .btn:focus,
.checkbtn, .checkbtn:hover, .checkbtn:focus,
.radiobtn, .radiobtn:hover, .radiobtn:focus,
.btn-group, .btn-group:hover, .btn-group:focus,
.btn-group-toggle, .btn-group-toggle:hover, .btn-group-toggle:focus {
  background-color: #282828;
  border-color: #424242;
}

/* All buttons */
.btn:active, .btn:active:hover, .btn:active:focus,
.radiobtn.active, .radiobtn.active:hover, .radiobtn.active:focus,
.checkbtn.active, .checkbtn.active:hover, .checkbtn.active:focus {
	border-color: #424242;
}

/* Pressed down button */
.btn:active, .btn:active:hover, .btn:active:focus {
  background-color: #101010;
}
.checkbtn.active, .checkbtn.active:hover, .checkbtn.active:focus,
.radiobtn.active, .radiobtn.active:hover, .radiobtn.active:focus {
	background-color: #01238a;
}

/* Slider */
.irs-slider, .irs-slider:hover, .irs-slider:focus {
	border: 1px solid #424242;
}
.irs-slider {
	background: #6a6a6a;
}
.irs-slider:hover, .irs-slider:focus {
	background: #c6c6c6;
}
.irs-line {
	background: #6a6a6a;
	border: 0;
}
.irs-bar, .irs-bar-edge, .irs-line-right, .irs-line-left, .irs-line-mid {
	border: 0;
}
.irs-bar, .irs-bar-edge {
	background: #01238a;
}
.irs-line-right, .irs-line-mid {
	background: #6a6a6a;
}

/* Drop-down list */
.selectize-input.full {
	background-color: #282828;
	color: white;
	border: 1px solid #424242;
}
.selectize-control.single .selectize-input::after {
	border-color: #aaaaaa transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active::after {
	border-color: transparent transparent #aaaaaa transparent;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
	background: #282828;
}
.selectize-dropdown, .selectize-dropdown.form-control {
	background: #282828;
}
.selectize-dropdown .active {
	background: #01238a;
	color: white;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
	color: white;
}

/* PickerInput from shinyWidgets and table selections */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus,
.pagination > li > span:focus {
	background-color: #01238a;
}

/* Table */
.table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
	background-color: #01238a !important;
}

.sorting::before {
	color: white;
}

/* Date picker */
.datepicker table tr td.day:hover,
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover,
.datepicker table tr td span.focused, .datepicker table tr td span:hover {
	background: #01238a;
}

