:root {
    --font-color: #000000;
    --font-color-muted: #4b4b4b;
    --bg-color: #fff;
    --border: #777777;
    --bg-highlight: #ea00ff7c;
    --text-highlight: #016f75;
    --error: #ff0000;
    --success: #00630d;
    --menu-item-size: 3em;
    --indicator-size: 25px;
}

[theme="dark"] {
    --font-color: #ffffff;
    --font-color-muted: #bebebe;
    --bg-color: #000000;
    --text-highlight: #00e6e4;
    --success: #00ff22;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

#themeswitch {
    cursor: pointer;
    user-select: none;
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}

html, html * {
    scrollbar-color: var(--border) var(--bg-color);
    scrollbar-width: thin;
}
