:root {
    --font-color: #000000;
    --bg-color: #fff;
    --border: #777777;
    --highlight: #ea00ff7c;
    --text-highlight: #016f75;
    --error: #ff0000;
    --success: #00630d;
}

[theme="dark"] {
    --font-color: #ffffff;
    --bg-color: #000000;
    --text-highlight: #00e6e4;
    --success: #00ff22;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>a {
    color: var(--font-color);
    text-decoration: none;
    outline: none;
}

#themeswitch {
    cursor: pointer;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}

html, html * {
    scrollbar-color: var(--border) var(--bg-color);
    scrollbar-width: thin;
}
